langchain==1.2.10
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
pypdf
streamlit
python-dotenv
langchain-text-splitters
chromadb
sentence-transformers